*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Myriad Pro";
}

nav
{
    background-color: #001E36;
    height: 10%;
    width: 100%;
    list-style: none;
}

label.logo
{
    color: #31A8FF;
    font-size: 35pt;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul
{
    float: right;
    margin-right: 20px;
}

nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin: 0 25px;
}

nav ul li a
{
    text-decoration: none;
    color: #31A8FF;
    padding: 7px 13px;
    font-size: 16pt;
}

nav ul li a:hover
{
    background-color: #31A8FF;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}